<!DOCTYPE html>
<html>
<head>
  <title>TimelineNoir</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <!--game topbar starts (common for all pages) -->
  <nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
              <img src="/assets/rails.png" id="game_logo">
            </div>
            <div class="col-sm-offset-3 col-md-offset-3 col-lg-offset-3 col-lg-3 col-md-3 col-sm-3 col-xs-3 mob-offset-6">
              <div class="game-text" id="game_score">Score: 100</div>
              <div class="game-text" id="game_xp">XP: 100</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!--game topbar ends -->

  <!--the game_play_area renders from here starts -->
  <div class="row" id="game_play_area">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="position: relative">
        <%= yield %>
    </div>
  </div>
  <!--the game_play_area renders from here ends -->



  <div id="footer">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="position: relative">
        <marquee id="ticker">Ticker</marquee>
      </div>
    </div>
    <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <a href="#" id="archives_btn">Archives</a>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <a href="#" id="leaderboard_btn">LB</a>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <a href="#" id="casedetail_btn">Case Detail</a>
          </div>
          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <a href="#" id="social_btn">Social</a>
          </div>
        </div>
    </div>
  </div>

</div>

</body>
</html>
